<html>
<style>
	html, body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	@font-face {
		font-family: "BebasNeue";
		src: url(fonts/BebasNeue-Bold.ttf) format('truetype');
	}

  @font-face {
    font-family: "Dhanikans";
    src: url(fonts/Dhanikans_Signature_2_dafont.ttf) format("truetype");
  }

	.container {
    border: 24px solid white;
    border-radius: 40px;
    height: 546px;
    position: relative;
    background-image: url('img/bg-dl.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	}

  .cb-image {
    width: 170px;
    height: 58px;
    top: 34px;
    background-image: url('img/cblogo.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .text {
    color: white;
    position: absolute;
    left: 32px;
    font-family: Avenir;
  }

	.completion {
		position: absolute;
		top: 127px;
		font-family: BebasNeue;
    font-size: 60px;
		color: white;
	}

  .completion-sub {
    top: 184px;
    font-size: 19px;
    font-family: Avenir;
  }

  .name {
    top: 243px;
    font-family: Dhanikans;
    text-transform: capitalize;
    font-size: 41px;
  }

  .course-text {
    font-size: 20px;
    width: 462px;
    top: 333px
  }

  .batch {
    top: 424px;
    font-size: 16px;
  }

  .signature {
    top: 413px;
    left: 317px;
    font-size: 14px;

  }

  .signature > img {
    width: 88px;
    height: 33px;
  }

  .verify {
    font-size: 10px;
    bottom: 22px;
  }

  .course-logo {
    width: 149px;
    height: 172px;
    top: 62px;
    left: 591px;
  }
</style>
<body>
  <div class="container">
    <div class="cb-image text"></div>
    <div class="completion text">CERTIFICATE OF COMPLETION</div>
    <div class="completion-sub text">This certificate is proudly presented to</div>
    <div class="name text">{{data.user.firstname}} {{data.user.lastname}}</div>
    <div class="course-text text">for successfully completing the Deep Learning Online Course
      by Coding Blocks
    </div>

    <img src="img/certi-dl.svg" alt="" class="course-logo text">

    <div class="batch text">
      <div class="duration">{{data.run.startString}} - {{data.run.endString}}</div>
      <hr>
      <div>Batch</div>
    </div>

    <div class="signature text">
      <img src="img/signmmgupta.png" alt="">
      <hr>
      <div>
          Manmohan Gupta <br>
          (Founder, Coding Blocks)
      </div>
    </div>

    <div class="verify text">
        The certificate can be verified at https://online.codingblocks.com/certificates/CBOL-{{data.runAttempt.id}}-{{data.salt}}
    </div>
  </div>

</body>

</html>