<html>
<style>
	html, body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	@font-face {
		font-family: "BebasNeue";
		src: url(fonts/BebasNeue-Bold.ttf) format('truetype');
	}

  @font-face {
    font-family: "Dhanikans";
    src: url(fonts/Dhanikans_Signature_2_dafont.ttf) format("truetype");
  }

	.container {
    border: 24px solid white;
    border-radius: 40px;
    height: 546px;
    position: relative;
    background-image: url('img/bg-git.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	}

  .logo-image {
    width: 170px;
    height: 58px;
    top: 34px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .cb-image {
    background-image: url('img/cblogo.png');
  }

  .cb-image.logo-image.bottom {
    top: 435px;
    left: 610px;
  }

  .hellointern-image {
    background-image: url('img/hellointern.png')
  }

  .text {
    color: white;
    position: absolute;
    left: 32px;
    font-family: Avenir;
  }

	.completion {
		position: absolute;
		top: 127px;
		font-family: BebasNeue;
    font-size: 60px;
		color: white;
	}

  .completion-sub {
    top: 184px;
    font-size: 19px;
    font-family: Avenir;
  }

  .name {
    top: 243px;
    font-family: Dhanikans;
    text-transform: capitalize;
    font-size: 41px;
  }

  .course-text {
    font-size: 20px;
    width: 462px;
    top: 333px
  }

  .batch {
    top: 424px;
    font-size: 16px;
  }

  .signature {
    top: 413px;
    left: 317px;
    font-size: 14px;

  }

  .signature.first {
    left: 210px;
  }

  .signature.second {
    left: 400px;
  }

  .signature > img {
    width: 88px;
    height: 33px;
  }

  .verify {
    font-size: 10px;
    bottom: 22px;
  }

  .course-logo {
    width: 149px;
    height: 172px;
    top: 62px;
    left: 591px;
  }

  a {
    color: white;
  }

</style>
<body>
  <div class="container">
    {{#if (eq data.run.domain "hellointern")}}
      <div class="logo-image cb-image text bottom"></div>
      <div class="logo-image hellointern-image text"></div>
    {{else}}
      <div class="logo-image cb-image text"></div>
    {{/if}}
    
    <div class="completion text">CERTIFICATE OF COMPLETION  </div>
    <div class="completion-sub text">This certificate is proudly presented to</div>
    <div class="name text">{{data.user.firstname}} {{data.user.lastname}}</div>
    <div class="course-text text">for successfully completing the Git and Github Online Course
      by Coding Blocks
    </div>
    
    <img src="img/certi-git.svg" alt="" class="course-logo text">
  
    <div class="batch text">
      <div class="duration">{{data.run.startString}} - {{data.run.endString}}</div>
      <hr>
      <div>Batch</div>
    </div>

    {{#if (eq data.run.domain "hellointern")}}
      <div class="signature text first">
        <img src="https://minio.codingblocks.com/public/varun-kohle-sign-white.png" style="size: 30%;" alt="">
        <hr>
        <div>
            Varun Kohli <br>
            (Founder, Coding Blocks)
        </div>
      </div>
      <div class="signature text second">
        <img src="img/signaashish.png" alt="">
        <hr>
        <div>
          Aashish Malve<br>
          (Director, HelloIntern)
        </div>
      </div>
    {{else}}
      <div class="signature text">
        <img src="https://minio.codingblocks.com/public/varun-kohle-sign-white.png" style="size: 30%;" alt="">
        <hr>
        <div>
          Varun Kohli <br>
          (Founder, Coding Blocks)
        </div>
      </div>
    {{/if}}

    <div class="verify text">
      {{#if (eq data.run.domain "hellointern")}}
        The certificate can be verified at 
        <a href="https://hellointern.codingblocks.com/certificates/CBOL-{{data.runAttempt.id}}-{{data.salt}}">
          https://hellointern.codingblocks.com/app/certificates/CBOL-{{data.runAttempt.id}}-{{data.salt}}
        </a>
      {{else}}
        <a href="{{data.publicLink}}">
            {{data.publicLink}}
        </a>
      {{/if}}
    </div>
  </div>

</body>

</html>